/*-----------------------------------*\
  #TOPBAR
\*-----------------------------------*/

.topbar {
    display: none;
    background: transparent; /* ⬅️ Fundo transparente */
    border-bottom: 1px solid var(--white-alpha-20);
    padding-block: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    transition: var(--transition-1);
}

.topbar .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0 20px;
}

.topbar-item {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--quick-silver);
    font-size: var(--fontSize-label-1);
}

.topbar-item ion-icon {
    font-size: 1.6rem;
    color: var(--gold-crayola);
    --ionicon-stroke-width: 60px;
}

.topbar .link {
    transition: var(--transition-1);
    cursor: pointer;
}

.topbar .link:hover {
    color: var(--gold-crayola);
}

.topbar .separator {
    width: 6px;
    height: 6px;
    border: 1px solid var(--gold-crayola);
    transform: rotate(45deg);
}

.topbar .item-2 {
    margin-inline-end: auto;
}

@media (min-width: 575px) {
    .topbar {
        display: block;
    }
}

@media (min-width: 992px) {
    .topbar-item:not(.link) {
        display: flex;
    }
}