<section class="section testi text-center has-bg-image" style="background-image: url('@BgImage')" aria-label="testimonials">
    <div class="container">
        <div class="quote">"</div>
        <p class="headline-2 testi-text">@Quote</p>

        <div class="wrapper">
            <div class="separator"></div>
            <div class="separator"></div>
            <div class="separator"></div>
        </div>

        <div class="profile">
            <img src="@AvatarImage" width="100" height="100" loading="lazy" alt="@Author" class="img">
            <p class="label-2 profile-name">@Author</p>
        </div>
    </div>
</section>